  <div class="copyright">
  Copyright &copy; <br>
   Platform Designed by <a href='https://www.brooksjr.com>The Brooks Parigdiam</a> -   <script type="text/javascript">
document.write("2019 - "+ new Date().getFullYear());
   </div> 